<div class="login" >
    <h1 style="font-weight: 600;">{{'Login' | translate}}</h1>
    <form [formGroup]="loginForm">
    <mat-form-field  appearance="outline" color="primary" class="wid-100">
        <mat-label>{{'Username' | translate}}</mat-label>
        <input matInput formControlName = "userName" >
        <mat-error>
          {{'unameReq' | translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="outline" class="wid-100">
        <mat-label>{{'Password' | translate}}</mat-label>
        <input matInput formControlName = "password" >
        <mat-error>
          {{'passwordReq' | translate}}
        </mat-error>
      </mat-form-field>
    </form>

      <mat-form-field appearance="outline" class="wid-100">
        <mat-select (selectionChange)="changeLang($event)" [(ngModel)]="language">
            <mat-option value = 'en' >English</mat-option>
            <mat-option value = 'ta'>தமிழ்</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-stroked-button color="primary" style="width: 100%; " class="primary-btn" (click)="login()">{{'Login' | translate}}</button>
    
  
</div>

<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block">Log in</button>
      </form>
    </mat-card>
  
  </div> -->